#root {
  max-width: 100vw;
  max-height: 100vh;
  
  text-align: center;
}
.body {
  background-color: #464750;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.smooth-stroke {
  transition: stroke 1s linear;
}
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }
  .premium-border {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 2px; /* border thickness */
    background: linear-gradient(90deg, #00B4FF, #FF00C8, #00B4FF, #FF00C8);
    background-size: 300% 300%;
    animation: moveGradient 10s ease infinite;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
  }
  .muscle-load-chart :focus {
  outline: none;
}
.mini-chart :focus {
  outline: none;
}
.donut-chart :focus {
  outline: none;
}
.myChart :focus {
  outline: none;
}
.areachart :focus {
  outline: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
